<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Page Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jnben/Desktop/isw_automation_project/automation_project">
        <classes>
            <class name="pageTests.GoogleTitleTest">
            <methods>
                <include name="verifyPageTitle"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>